EXP 1 : INTRODUCTION TO PYTHON
(NAME - SAUMYA SHREE)
(PRN - 25070123161)

In [1]:
x = "APPLE"
y = "ORANGE"
z = "CHERRY"
print(x,y,z)

APPLE ORANGE CHERRY

In [6]:
x,y,z = "APPLE","ORANGE","CHERRY"
print(x,y,z,sep="\n")

APPLE
ORANGE
CHERRY

In [9]:
x,y,z,w = 2,2.5,"Saumya",True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [15]:
a,b = 10,5
print("SUM =",a+b,"DIFFERENCE =",a-b,"PRODUCT =",a*b,"DIVISION =",a/b,"EXPONENT =",a**b)

SUM = 15 DIFFERENCE = 5 PRODUCT = 50 DIVISION = 2.0 EXPONENT = 100000

In [23]:
a = int(input("Enter a number ="))
b = int(input("Enter another number="))
print("SUM =",a+b,"\n","DIFFERENCE =",a-b,"\n","PRODUCT =",a*b,"\n","DIVISION =",a/b,"\n","EXPONENT =",a**b,"\n")

Enter a number =5
Enter another number=8
SUM = 13
 DIFFERENCE = -3
 PRODUCT = 40
 DIVISION = 0.625
 EXPONENT = 390625

In [27]:
import math
r = float(input("Enter the radius ="))
Area = math.pi*r*r
print(Area)

Enter the radius =1
3.141592653589793

In [33]:
import math
result1 = math.log10(10)
print(result1)
result2 = math.sin(math.pi/3)
print(result2)

1.0
0.8660254037844386

In [38]:
a = int(input("ENTER A NUMBER"))
b = int(input("ENTER ANOTHER NUMBER"))
if a > b:
  print("a is greater than b")
else:
  print("a is less than b")

ENTER A NUMBER34
ENTER ANOTHER NUMBER78
a is less than b